{% extends "base.html" %}
{% block content %}

<div class="jumbotron">

<H2>Boeken? Jawel!</H2>

<p>Ik heb zowaar ook twee boekjes in elkaar geflanst. Wil je ze kopen? Dat kan hier!</p>

</div>
<div class="container">

  <div class="row">
    <div class="col-sm-6">
    <div class="card" style="width: 20rem;">
      <img src="{{ url_for('static', filename='boek1.jpg') }}" class="card-img-top" alt="Boek 1">
      <div class="card-body">
        <h5 class="card-title">The Boek</h5>
        <p class="card-text">Dit is mijn debuut, de eerste lading literaire onzin in de wereld.</p>
        <p class="card-text"><small class="text-muted">Release in november 2018, nog 3 beschikbaar</small></p>
        <a href="{{ url_for('bedankt') }}" class="btn btn-primary">Koop nu</a>
      </div>
      </div>
    </div>

    <div class="col-sm-6">
    <div class="card" style="width: 20rem;">
      <img src="{{ url_for('static', filename='boek2.jpg') }}" class="card-img-top" alt="Boek 2" >
      <div class="card-body">
        <h5 class="card-title">Twee Stuks</h5>
        <p class="card-text">Na het onderweldigende succes van The Boek was daar ineens de sequel: Twee Stuks. Hoe vet is dat?!</p>
        <p class="card-text"><small class="text-muted">Release in november 2019, nog 12 beschikbaar</small></p>
        <a href="{{ url_for('bedankt') }}" class="btn btn-primary">Pre-order</a>
      </div>
    </div>
  </div>
  </div>


</div>


{% endblock %}