{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 18rem;">
    <img src="/static/rein.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Stay tuned!</h5>
      <p class="card-text">Hier kan je straks allemaal dingen in een database stoppen</p>
      <a href="#" class="btn btn-primary">Echt supervet</a>
    </div>
  </div>

  <div class="jumbotron">
    <h3>Dit is wat er momenteel allemaal in zit:</h3>
    <ul>
      <p>(nou ja niks dus)</p>
      {% for woord in database  %}
      <li>{{woord}}</li>
      {% endfor %}
    </ul>
  
  </div>


{% endblock %}