{% extends "base.html" %}
{% block content %}

  <div class="container">
        <br>

        {% for mess in get_flashed_messages()  %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{mess}}
          </div>
        {% endfor %}

  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.woord.label }} {{ form.woord() }}
      {{ form.submit() }}
  </form>
  <br>
  </div>

  <div class="jumbotron">
    <h3>Dit is wat er momenteel allemaal in zit:</h3>
      <br>
      <ul>
        {% for woord in woorden %}
        <li>{{woord}}</li>
        {% endfor %}
      </ul>
    <br>
    <h4>Vet man...</h4>
  </div>


{% endblock %}